body{
    background-color: black;
    }
    
    h1{
      color: azure;
    }
    
    label{
      color: aliceblue;
    }
    
    
    #clicks{
      text-align: center;
      font-size: 8em;
    }
    
    .btns{
      text-align: center;
    }
    
    .btns button{
      font-size: 2em;
      border-radius:8px ;
      color: white;
      background-color: aquamarine;
    }
    
    .btns button:hover {
      background-color: rgb(69, 163, 132);
      cursor: pointer; 
    }
    
    
    #randomnum{
      text-align: center;
    }
    .randomnumber{
      background-color: black;
      border: 1px solid white;
      margin-right: 400px;
      margin-left: 400px;
    margin-top: 50px;
    margin-bottom: 50px;
    padding: -10px 10px 10px 10px;
    border-radius:10px ;
    text-align: center;
    }
    
    
    
    
    
    .clicksa{
      background-color: black;
      border: 1px solid white;
      margin-right: 400px;
      margin-left: 400px;
    margin-top: 50px;
    margin-bottom: 50px;
    padding: -10px 10px 10px 10px;
    border-radius:10px ;
    }
    
    #randombtn{
    background-color: aqua;
    text-align: center;
    }
    
    